.root {
  background-color: black;
  display: flex;
  flex-direction: column;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
